
.mainPage{overflow: hidden;}

/* 컨텐츠 사이즈 */
.contentSize{width: calc(100% - (var(--spacing) * 2)); max-width: var(--maxWidth); margin-inline: auto;}


/* 서브 타이틀 */
section h3{font-weight: 700;}
section h3 + strong{font-weight: 700; display: block;}
section h3 + strong + p{color: var(--color01);}


[data-animate="opacity"]{opacity: 0; transition: opacity 0.5s;}
[data-animate="opacity"].ani{opacity: 1;}


/* 해더 */
header{position: fixed; left: 0; top: 0; width: 100%; display: flex; box-sizing: border-box; z-index: 100; opacity: 0;
    animation: startNav 0.5s 1.3s forwards;
}
header.active{background-color: rgba(0, 0, 0, 0.5);}
header nav ul li a{font-weight: 700;}

header h1 a img{width: 100%;}
@keyframes startNav {
    0%{opacity: 0;}
    100%{opacity: 1;}
}


/* 푸터 */
footer{line-height: 24px; color: var(--color02); display: flex; border-top: 1px solid #DEDEDE;}
footer dl{display: flex; align-items: center;}
footer dl dt{margin-right: 0.4em;}
footer dl:not(:last-of-type) dd{display: flex; align-items: center;}
footer dl:not(:last-of-type) dd::after{content: '|'; margin-inline: 0.4em;}