
/* 메인 - 최상단 */
.mainArea{height: 100vh; position: relative;}
.mainArea > div{height: 100%; display: flex; justify-content: center; align-items: center; opacity: 1; position: relative; z-index: 1;}
.mainArea > div h2{text-align: center; overflow: hidden;}
.mainArea > div h2 small{font-weight: 600; color: white; display: block; transform: translateY(100%);}
.mainArea > span.bg{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url('../images/main-bg.png') no-repeat center / cover; z-index: -1;}
.mainArea > div .circle{position: absolute; bottom: 0; left: 0; translate: 0 50%; z-index: 10;}
.mainArea > div h2{animation: startAni2 1.5s 0.5s ease-in-out forwards; opacity: 0; transform: scale(0);}
.mainArea > div h2 small{animation: startAni3 1s 2s ease-in-out forwards;}
.mainArea > span.bg{animation: startAni1 3.2s 0.6s both; scale: 1.3;}
@keyframes startAni1 {
  0%{scale: 1.3;}
  100%{scale: 1;}
}
@keyframes startAni2 {
    0%{opacity: 0;}
    50%{transform: scale(0);}
    100%{opacity: 1; transform: scale(1);}
}
@keyframes startAni3 {
    0%{transform: translateY(100%);}
    100%{transform: translateY(0%);}
}

/* 서비스 */
.serviceArea{position: relative;}
.serviceArea > div{position: relative;}
/* .serviceArea > div ul li{transform: translateX(calc(70% + 23px));} */
.serviceArea > div ul li > div > div div::before{content: ''; height: var(--height); aspect-ratio: 112 / 82; background: url('../images/icon-service.png') no-repeat left top calc(var(--height) * var(--styleIdx) * -1) / 100%;}
.serviceArea > div ul li > div > div div strong{font-weight: 700;}
.serviceArea > div ul li > div > div div p{font-size: 14px; line-height: 17px; color: var(--color01); }
.serviceArea > div .circle01{position: absolute; top: 0; left: 0; transform: translateY(-50%); z-index: 10;}
.serviceArea .square{background-color: #f8f8f9; transform-origin: top center; transform: rotate(45deg) translateY(100%); transition-timing-function: var(--animateFunction); z-index: -1;}
.serviceArea > div:has( ul.ani) + .square{animation: square 0.5s 0.7s forwards;}
.serviceArea > div ul.ani li > div{animation: orderFly 0.5s var(--animateFunction) forwards; animation-delay: calc(var(--styleIdx) * 0.2s);}
@keyframes orderFly {
    0%{transform: translate(-100%, 100%); opacity: 0;}
    100%{transform: translate(0%, 0%); opacity: 1;}
}

@keyframes square {
    0%{transform: rotate(45deg) translateY(100%);}
    100%{transform: rotate(45deg) translateY(0%);}
}


/* 어플리케이션 */
.applicationArea div:nth-child(1){position: relative;}
.applicationArea div:nth-child(1) img{box-shadow: 10px 4px 30px 0px rgba(0, 0, 0, 0.10);}
.applicationArea div:nth-child(1) img:nth-child(1){width: 58.5483%;}
.applicationArea div:nth-child(1) img:nth-child(2){width: 42.2580%; position: absolute; right: 7.3%; top: 50%; transform: translateY(-50%); z-index: -1;}
.applicationArea div:nth-child(1) img{scale: 0;}
.applicationArea div:nth-child(1).ani img{scale: 1; transition: 1s cubic-bezier(0.4, 0, 0.2, 1);}


/* 키오스크 */
.kioskArea > div:nth-child(1) ul li button{font-weight: 700; color: var(--bg01); border: 1px solid var(--bg01); box-sizing: border-box;}
.kioskArea > div:nth-child(1) ul li.active button{color: white; background-color: var(--bg01);}
.kioskArea > div:nth-child(1) ul li div{display: none; box-sizing: border-box;}
.kioskArea > div:nth-child(1) ul li:first-child div{display: block;}
.kioskArea > div:nth-child(1) ul li div strong{font-size: 28px; font-weight: 700; display: block; margin-bottom: 15px;}
.kioskArea > div:nth-child(1) ul li div p{font-size: 15px; line-height: 24px; color: var(--color01);}
.kioskArea > div:nth-child(2) > div{height: 130%; position: relative; display: none;}
.kioskArea > div:nth-child(2) > div.active{display: block;}
.kioskArea > div:nth-child(2) > div::after{content: ''; position: absolute; right: 0; height: 0; background-color: #70D1DB; pointer-events: none; z-index: -1;}
.kioskArea > div:nth-child(2) > div iframe{aspect-ratio: 1267 / 1200;}
.kioskArea > div:nth-child(2) > div iframe.test{aspect-ratio: 1267 / 1200;}
.kioskArea > p{line-height: 24px; display: flex; align-items: center;}
.kioskArea > p::before{content: ''; aspect-ratio: 18 / 24; background: url('../images/icon-mouse.png') no-repeat center / cover; opacity: 0;}
.kioskArea > p span{scale: 0;}
.kioskArea > div:nth-child(2).fade > div::after{animation: kioskAni 1.5s 0.5s cubic-bezier(0.4, 0, 0.2, 1) both;}
.kioskArea > div:nth-child(2).fade + p span{scale: 1; transition: 1.5s 1s cubic-bezier(0.4, 0, 0.2, 1); transform-origin: left;}
.kioskArea > div:nth-child(2).fade + p::before{opacity: 1; transition: 1.5s 2s cubic-bezier(0.4, 0, 0.2, 1);}


/* 오페래이트 */
.operateArea > div{display: flex;}
.operateArea > div > div,.operateArea > div > p span{aspect-ratio: 1; box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.05);}
.operateArea > div p{font-weight: 700; color: white; text-align: center; position: relative;}
.operateArea > div p::after{content: ''; position: absolute; background-color: var(--bg01);}
.operateArea > div p:nth-of-type(1)::after{transform-origin: right; transform: scaleX(0);}
.operateArea > div p:nth-of-type(2)::after{transform-origin: left; transform: scaleX(0);}
.operateArea > div p span{display: flex; height: 100%; justify-content: center; align-items: center; background-color: var(--bg01); border-radius: 100%; scale: 0;}
.operateArea > div div{scale: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: white; position: relative; z-index: 1; border-radius: 100%; }
.operateArea > div div *{opacity: 0;}
.operateArea > div div b{font-weight: 700;}
.operateArea > div.ani div{animation: operateCenter 1s var(--animateFunction) forwards;}
.operateArea > div.ani div *{opacity: 1; transition: 0.5s 0.5s opacity var(--animateFunction);}
.operateArea > div.ani p span{scale: 1; transition: 0.5s 0.8s scale var(--animateFunction);}



/* 컴퍼니 */
.companyArea div img{width: 100%;}


/* 컨텍트 어스 */
.contactUsArea small{line-height: 24px; color: var(--color01); display: block; scale: 0;}
.contactUsArea small.ani{scale: 1; transition: 0.5s scale var(--animateFunction);}