
/* 메인 - 최상단 */
.mainArea{height: 100vh; background: url('../images/main-bg.png') no-repeat center / cover; display: flex; justify-content: center; align-items: center;}
.mainArea h2{text-align: center; overflow: hidden;}
.mainArea h2 small{font-weight: 600; color: white; display: block; animation: startAni2 0.4s 1.2s ease-in-out forwards; transform: translateY(100%);}
.mainArea h2{animation: startAni 1.3s ease-in-out forwards; opacity: 0; transform: scale(0);}
@keyframes startAni {
    0%{opacity: 0;}
    50%{transform: scale(0);}
    100%{opacity: 1; transform: scale(1);}
}
@keyframes startAni2 {
    0%{transform: translateY(100%);}
    100%{transform: translateY(0%);}
}

/* 서비스 */
.serviceArea{position: relative;}
.serviceArea > div{position: relative;}
.serviceArea > div ul li > div > div div::before{content: ''; height: var(--height); aspect-ratio: 112 / 82; background: url('../images/icon-service.png') no-repeat left top calc(var(--height) * var(--styleIdx) * -1) / 100%;}
.serviceArea > div ul li > div > div div strong{font-weight: 700;}
.serviceArea > div ul li > div > div div p{font-size: 14px; line-height: 17px; color: var(--color01); }
.serviceArea > div [class*="circle"]{aspect-ratio: 1;}
.serviceArea > div [class*="circle"] svg{animation-name: float; animation-duration: 2s; animation-timing-function: cubic-bezier(.1,.1,.88,.88); animation-iteration-count: infinite;}
.serviceArea > div .circle01{position: absolute; top: 0; left: 0; transform: translateY(-50%);}
.serviceArea .square{background-color: #f8f8f9; transform-origin: top center; transform: rotate(45deg) translateY(100%); z-index: -1;}
.serviceArea > div:has( ul.ani) + .square{animation: square 0.5s 0.7s forwards;}
@keyframes float {
    0% {
      transform: translate(0,0);
    }
    50% {
      transform: translate(0, 30px);
    }
    100% {
      transform: translate(0,0);
    }
}
@keyframes square {
    0%{transform: rotate(45deg) translateY(100%);}
    100%{transform: rotate(45deg) translateY(0%);}
}


/* 어플리케이션 */
.applicationArea div:nth-child(1){position: relative;}
.applicationArea div:nth-child(1) img{box-shadow: 10px 4px 30px 0px rgba(0, 0, 0, 0.10);}
.applicationArea div:nth-child(1) img:nth-child(1){width: 58.5483%;}
.applicationArea div:nth-child(1) img:nth-child(2){width: 42.2580%; position: absolute; right: 7.3%; top: 50%; transform: translateY(-50%); z-index: -1;}
.applicationArea div:nth-child(1) img{scale: 0;}
.applicationArea div:nth-child(1).ani img{scale: 1; transition: 1s cubic-bezier(0.4, 0, 0.2, 1);}


/* 키오스크 */
.kioskArea > div:nth-child(1) ul li button{font-weight: 700; color: var(--bg01); border: 1px solid var(--bg01); box-sizing: border-box;}
.kioskArea > div:nth-child(1) ul li.active button{color: white; background-color: var(--bg01);}
.kioskArea > div:nth-child(1) ul li div{display: none; box-sizing: border-box;}
.kioskArea > div:nth-child(1) ul li:first-child div{display: block;}
.kioskArea > div:nth-child(1) ul li div strong{font-size: 28px; font-weight: 700; display: block; margin-bottom: 15px;}
.kioskArea > div:nth-child(1) ul li div p{font-size: 15px; line-height: 24px; color: var(--color01);}
.kioskArea > div:nth-child(2){}
.kioskArea > div:nth-child(2) > div{height: 130%; position: relative; display: none;}
.kioskArea > div:nth-child(2) > div.active{display: block;}
.kioskArea > div:nth-child(2) > div::after{content: ''; position: absolute; right: 0; bottom: 0; width: 60%; height: 0; background-color: #70D1DB; pointer-events: none; z-index: -1;}
.kioskArea > div:nth-child(2).fade > div::after{animation: kioskAni 1.5s 0.5s cubic-bezier(0.4, 0, 0.2, 1) both;}
@keyframes kioskAni {
    0%{height: 0;}
    100%{height: calc(100% + 20px);}
}
.kioskArea > div:nth-child(2) > div iframe{position: absolute; left: 0; top: 0; width: 600px; aspect-ratio: 1267 / 1200;}
.kioskArea > p{line-height: 24px; display: flex; align-items: center;}
.kioskArea > p::before{content: ''; aspect-ratio: 18 / 24; background: url('../images/icon-mouse.png') no-repeat center / cover;}


/* 오페래이트 */
.operateArea > div{display: flex;}
.operateArea > div > *{aspect-ratio: 1; box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.05); border-radius: 100%;}
.operateArea > div p{font-weight: 700; color: white; text-align: center; display: flex; justify-content: center; align-items: center; background-color: var(--bg01); position: relative;}
.operateArea > div p::after{content: ''; position: absolute; top: 50%; transform: translateY(-50%); width: 100%; height: 2px; background-color: var(--bg01);}
.operateArea > div div{display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: white;  position: relative; z-index: 1;}
.operateArea > div div b{font-weight: 700;}


/* 컴퍼니 */
.companyArea div img{width: 100%;}


/* 컨텍트 어스 */
.contactUsArea small{line-height: 24px; color: var(--color01); display: block;}